{{ define "main" }}
    <div class="container p-3">
        <div class="my-home">
            <div class="row">
                <div class="align-self-center col-12 col-lg-4">
                    <img
                        src="/profile.jpg"
                        class="img-fluid img-thumbnail my-home-profile-img d-block mx-auto"
                        alt="Profile Picture"
                    />
                </div>
                <div class="p-3 col-12 col-lg-8">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
